<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345135419214-j6blo82burp6b4gmpdp65j5a6bchru3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345135419214-j6blo82burp6b4gmpdp65j5a6bchru3n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345135419214-9paqttqc3vdj4funsnigoc7sa9mtnqqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA8uRT9_fW1AgHsbA7PrrqbXioEIBqJvM</string>
	<key>GCM_SENDER_ID</key>
	<string>345135419214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sofra.business</string>
	<key>PROJECT_ID</key>
	<string>sofraapp-e5b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>sofraapp-e5b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345135419214:ios:91a165723700c333da581f</string>
</dict>
</plist>